head {


    <link rel="stylesheet" type="text/css" href="estilos.css">

}



body {
    padding: 50px;
    background-color: beige;
}

h1 {
    color: rgb(28, 10, 104);
}
 
img.gato {
height: 300px;
border: 1px royalblue solid;
padding: 10px;
margin: 30px;
}

h1.fnt-red {
    color: red;
    }
    
.fnt-blue {
    color: blue;
    }


#nombre_alumno {
        color: red;
        text-decoration: underline;
    }
    
.titulo {
        color: blue;
        font-size: 20px;
        font-style: italic;
} 
.destacado { 
        font-size: italic;
        font-weight: bold;
} 
    
     div.derecha {  
        height: 100px;
        width: 100px;
        line-height: 100px;
        font-size: 50px;
        border-radius: 50px;
        text-align: center;
        background-color: blue;
        color: white;
        display: inline-block;}

     div.izquierda {   float: left;
        height: 100px;
        width: 100px;
        line-height: 100px;
        font-size: 50px;
        border-radius: 50px;
        text-align: center;
        background-color: blue;
        color: white;
        display: inline-block;}

    div.centro {   float: center;
        height: 100px;
        width: 100px;
        line-height: 100px;
        font-size: 50px;
        border-radius: 50px;
        text-align: center;
        background-color:blue;
        color: white;
        margin-left: 5%;
        display: inline-block;
         }
    
    div.fsuperior {
            background-color: blue;
            color: white;
            top: 0;
            position: sticky;
            width:100%;
            text-align: center;
            padding-top: 13px;
            font-weight: bold;
            height: 27px;
            }

div.finferior {
        background-color: red;
        color: white;
        bottom: 0;
        position: sticky;
        width:100%;
        text-align: center;
        padding-top: 13px;
        font-weight: bold;
        height: 27px;
        }
        
div.flechas1y2 {
    color:white;
    display: inline;
    margin-left: 25%;
    }
    
div.flechas3y4 {
    color:white;
    display: inline;
    margin-left: 33%;
    }


img.animal {
    height: 200px;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    margin: 30px;
    }

div.clicable:hover {
    cursor: pointer;
    } 
        
ul.listaefecto li:first-child {
    font-weight: bolder;
    color: green;
    }
        

div.efect:hover {
    border-bottom: 3px solid red;
    }

i.hovershow {
    width: 50px;
    font-size: 50px;
    color: white;
    background-color: blue;
    margin-right: 25px;
    padding: 10px;
    cursor: pointer;
    }
    
i.hovershow + span {
    display: none;
    width: 200px;
    background-color: lightgray;
    padding: 5px;
    }


    
i.hovershow:hover + span {
    display: inline-block;
    }

p.p9a::first-letter {
    font-size: 2em;
    }

p.p9b::first-letter {
    font-size: 2em;
    }

li.moneda::after {
        content: " €";
    }

div.contenedor > p {
        color:red;}

div.contenedor + p {
    text-decoration: underline;
    color: green;
}
form.miformulario {
    padding: 30px 30px 10px 30px;
    border: 1px dashed black;
    width: 330px;
    margin: auto;
}

form.miformulario > label {
    width: 100px;
    display: inline-block;
}

form.miformulario > input {
    width: 200px;
    margin-bottom: 10px;
}

form.miformulario  button {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

img.elo3 {
    background-size: 50%;
    background-position: center;
    display:block;
    }

img.elo2 {
    
    background-position: center;
    display:block;
    }

img.elo {
    background-image: auto;
    background-position: center;
    display:block;
    }

form.formulario{
    color:blue;
    font-weight: bold;
    width:70%;
    }


table.tabla12 {
    width: 50%;    
}

input.datosform1 {
width: 600px;
}

input.datosform2 {
width: 245px;
}

form.form2{
    color:blue;
    font-weight: bold;
}

img.elo3 {
    background-repeat: repeat;
    height: 200px;
    width:200px;
    background-position: center;    
    }
img.elo2 {
    background-repeat: repeat;
    height: 200px;
    width:200px;
    background-position: center;
    }
img.elo {
    height: 200px;
    width:200px;
    background-position: center;
    background-image: auto
    }